<header class="site-header">
      <div class="wrapper site-header__wrapper">
        <a href="#" class="brand">WeekMenu</a>
        <nav class="nav">
          <button class="nav__toggle" aria-expanded="false" type="button">
            menu
          </button>
          <ul class="nav__wrapper">
            <li class="nav__item"><a href="#">マイページ</a></li>
            <li class="nav__item"><a href="#">新規投稿</a></li>
            <li class="nav__item"><a href="#">サインアウト</a></li>
            <li class="nav__item"><a href="#">サインイン</a></li>
            <li class="nav__item"><a href="#">新規登録</a></li>
          </ul>
        </nav>
      </div>
    </header>
